.signup-form{
  margin-top: 10vh;
  width: 50vh;
}

.signup-form div  {
    margin: 4%;
    display: flex;
    flex-direction: column;
}

.signup-form div input{
  border: none;
  border-bottom: 1px solid black;
  outline-style: none;
}

.signup-button-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-button-div button{
  font-size: 1rem;
  font-weight: 100;
  height: 5vh;
  width: 30vh;
  background-color: #504F4F;
  color: whitesmoke;
  border-radius: 5px;
}


