.main-div{
    border-bottom: 0.5px black solid ;
    height: 3rem;
    display: flex;
    flex-direction:horizontal;
    align-items: center;
}

.logo-text{
    flex: 2;
    text-align: center;

}
.nav-links{
    display: flex; 
    justify-content: flex-end;
}