.RotatingLinks-main-div{
    background-color: #91694C;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RotatingLinks-main-div-link{
    text-decoration: none;
}