.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vh;
  height: 50vh;
}
.login-form-contents{
  width: 50vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
}

.login-labels{
  display: flex;
  flex-direction: column;
}
.login-label-text{
  margin-bottom: 2%;
  font-size: smaller;
  font-weight: 600;
}
.login-labels input{
  outline-style: none;
  border: none;
  border-bottom: 2px black solid ;
}
.login-form button, .login-default{
  font-size: 1rem;
  font-weight: 100;
  height: 5vh;
  width: 30vh;
  background-color: #504F4F;
  color: whitesmoke;
  border-radius: 5px;
}

.login-main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


